{% load static %}

<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'movies_list' user_id=user_id %}">Home <span class="sr-only">(current)</span></a>
            </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'booking_history' user_id=user_id %}">Booking History</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        
        <li class="nav-item">
            <span class="navbar-brand">Welcome, {{ Name }}</span> <!-- Use span for the welcome message -->
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">Logout</a> <!-- Add a "Logout" link -->
        </li>
    </ul>
    </div>
</nav>

